.contac-boton a{
  background: #181818;
  border: 5px solid #FA419C;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color:#fff;
  margin-left: 110px;
  padding: 10px 20px;
}
