.about-info{
  margin-left: 110px;
  padding-top: 200px;
  float: left;
}

p{
  font-size: 24px;
  font-weight: lighter;
}

h2{
  color:#F6077D;
}

.about-photo img{
  width: 400px;
  padding-top: 70px;
  padding-left: 90px;
}


.contac-boton {
  padding-top: 60px;
}
