/*body{

  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

.menu-bar{
  background-color: #be3c3c;
  width: 91px;
  height: 100%;
}

p{
  margin: 0;
}

.conteiner{
  background-color: #1D1D1D;
  height: 100%;

}


.nav-bar-icon li{
  padding-left: 25px;
  padding-bottom: 78px;
}

.nav-bar-social li{
  padding-left: 25px;
  padding-bottom: 35px;
}

.logo img{
  padding-bottom: 78px;
}
*/
