.conteiner h2{
  color:#F6077D;
  margin-top: 137px;
  margin-left: 137px;
  font-size: 50px;
}


.filtro-list li {
  list-style: none;
  float: left;
  font-size: 30px;
  color: #F6077D;
  padding-left: 200px;
  margin-left: 50px;
  margin-top: 60px;

}

.filtro-list li + li {
  margin-left: 20px;
}

.projects-1 div{
  width: 230px;
  height: 230px;
  background-color:  #3908CC;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
  text-align: center;
}

.projects-1
{
  padding-left: 185px;
  margin-top: 67px;
}

.projects-2
{
  padding-left: 185px;
  margin-top: 40px;
}


.projects-2 div{
  width: 230px;
  height: 230px;
  background-color:  #E6454C;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
  text-align: center;
}
