.my-work ul{
  display: flex;
  justify-content: space-between;
}

.filtro-list{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

.projects ul{
  display: flex;
  flex-wrap: wrap;
  height: 625px;
  justify-content: space-between;
}

.projects-list li{
  background-color: $button;
  box-sizing: border-box;
  color:$paragraph;
  flex-basis: 350px;
  height: 250px;
  list-style: none;
}



.code ul{
  display: flex;
  flex-wrap: wrap;
  height: 625px;
  justify-content: space-between;
  

}

.code-list li{
  background-color: $button;
  box-sizing: border-box;
  color:$paragraph;
  flex-basis: 500px;
  height: 100px;
  margin-bottom: 34px;
  list-style: none;
}

.articles ul{
  flex-wrap: wrap;
  height: 625px;
  display: flex;
  justify-content: space-between;
}


.articles-list li{
  flex-basis: 300px;
  height: 600px;
  color:$paragraph;
  background-color: $glitch-color-2;
  box-sizing: border-box;
  list-style: none;
}


.blog{
  margin-bottom: 100px;
}