.projects-1{
  display: flex;
  height: 400px;
  justify-content: space-evenly;

}

.box{
  flex-basis: 400px;
  color:$paragraph;
  border: 2px solid $border;
}

.box img{
  max-width: 100%;
  width: 390px;
  height: 400px;
}

