// botones
.contact__boton--link{
    display: inline-block;
    color: $font-color-button;
    font-size: $font-size-button;
    font-weight: bold;
    letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;
    z-index: 1;
&:before,
&:after {
    bottom: 0;
    content:'';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

&:before {
    background-color: $glitch-color-one;
    border-radius: 5px;
    z-index: -1;
}

&:after {
    background-color: $glitch-color-two;
    border-radius: 5px;
    z-index: -2;
}

&:hover {

    &:before {
        animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
        animation: glitchy 0.3s ease infinite reverse;
    }
}
}
.link__inner {
    background-color: $paragraph-color;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    padding: 10px 15px;
}
#send{
    background: $paragraph-color;
    border-radius: 5px;
    border: none;
    color:$font-color-button;
    font-weight: bold;
    font-size: $font-size-button;
    margin-top: 57px;
    margin-right:420px;
    padding: 10px 15px;
}
