.contac-boton a{
  font-family: $font-family;
  background: $violet-title;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color:$menu-background;
  margin-left: 0px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 9px;
}
