@import'../config/mixin';
// Decoraciones
.welcome,.about,.work,.art__gallery,.blog,.contac,.thanks{
  position: relative;
}
.contac{
  margin-top: 67px;
}
.decoration__body{
  @include decoration;
}
.decoration__title{
  @include decoration;
  position: absolute;
  top: 140px;
  left: 0;
}
.decoration__paragrah{
  @include decoration;
}
.decoration__paragrah--open{
  @include decoration;
  position: absolute;
  top: 124px;
  left: 0;
}
.decoration__work{
  @include decoration;
  position: absolute;
  top: 576px;
  left: 0;
}
.decoration__seccion{
  @include decoration;
  position: absolute;
  top: 100px;
  left: 0;
}
.decoration__button{
  @include decoration;
  position: absolute;
  top: 550px;
  left: 0;
}
.decoration__github{
  @include decoration;
  position: absolute;
  top: 550px;
  left: 0;
}
.decoration__blog{
  @include decoration;
  position: absolute;
  top: 608px;
  left: 0;
}
.decoration__art{
  @include decoration;
  position: absolute;
  top: 428px;
  left: 0;
}
.decoration__contact{
  @include decoration;
  position: absolute;
  top: 884px;
  left: 0;
}
.decoration__thanks{
  @include decoration;
  position: absolute;
  top: 319px;
  left: 0;
}
