// formulario
form{
  display: flex;
  flex-direction: column;
  width: 550px;
}
h3{
  color: $paragraph-color;
  padding-bottom: 30px;
}
label{
  color:$paragraph-color;
  font-size: 20px;
  padding-bottom: 20px;
}
input, textarea{
  background-color: transparent;
  border:2px solid $title-principal-color;
  margin-bottom: 20px;
  padding: 15px;
  color: $paragraph-color;
}
.contact__map img{
  max-width: 100%;
  padding-top: 177px;
  width: 600px;
}
.contact{
  margin-bottom: 100px;
}
.form{
  float: left;
  padding-top: 64px;
  width: 572px;
}
// Javascript
.js__warning {
  background-color: $warning;
  border: 1px solid $warning;
}
.js__validation {
  background-color: $validation;
  border: 1px solid $validation;
  color: $backgroud-menu;
  padding: 14px;
  width: 305px
}
