// Menu
.menu__bar{
  background-color:$backgroud-menu;
  height: 100%;
  position: fixed;
  width: 90px;
  z-index: 1;
}
.nav__bar--icon li{
  color: $paragraph-color;
  padding-bottom: 57px;
  list-style: none;
  text-align: center;
}
.menu__bar--logo img{
  padding-bottom: 30px;
  padding-left: 20px ;
  padding-top: 10px;
}
.icon__nav:hover, .icon__nav:focus {
  filter: $filtro;
}

