td{
  line-height: 50px;
  padding: 0;
  text-align: left;
  width: 250px;
}
.people__list td a{
  text-decoration: none;
  color: $paragraph-color;
  font-size: $font-size-link;
}
.people{
  padding-top: 99px;
}

