// Globales
html{
  font-family:$font-principal;
  margin: 0;
  padding: 0;
}
body{
  background-color: $backgroud-body;
}
ul{
  margin: 0;
  padding: 0;
}
.principal__conteiner{
  margin-left: 100px;
}
.second__conteiner{
  margin: 0 auto;
  width: 1180px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.titles{
  color: $title-principal-color;
  font-size: $subtitle-size;
  margin-bottom: 100px;
  text-align: left;
}
