html{
  margin: 0;
  padding: 0;
  font-family:$font;
}

ul{

  margin: 0;
  padding: 0;

}

.principal-conteiner{
  margin-left: 70px;
  
}

.second-conteiner{
  margin: 0 auto;
  width: 1180px;

  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.titles{
  color: $violet-title;
  font-size: 50px;
  margin-bottom: 100px;
  text-align: left;
}