$button: #8A1CBD;
$font: 'Cousine', monospace;
$glitch-color-1:#FA419C;
$glitch-color-2:#3908cc;
$menu-background: #181818;
$paragraph: #fff;
$wrapper-background: #1D1D1D;
$violet-title: #DA8AF0;








// size



// margin


