$paragraph: #fff;
$wrapper-background: #1D1D1D;
$violet-title: #DA8AF0;
$menu-background: #181818;
$border: #8A1CBD;
$glitch-color-1:#fa419d;
$glitch-color-2:#3908cc;
$font-family: 'Noto Sans SC', sans-serif;

