// about me

canvas {
  background: transparent;
}
.about{
  margin-bottom: 150px;
  margin-top: 50px;
}
.about__info{
  float: left;
}
.about__info--text{
  color: $paragraph-color;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 41px;
  padding-top: 56px;
  margin-right: 169px;
  width: 511px;
}
.contact__boton {
  margin-top: 50px;
}
