.about{
  margin-top: 150px;
}


.about-info{
  float: left;
}

.about-info-text{
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 41px;
  margin-top: 30px;
  margin-right: 169px;
}

.about-photo img{
  padding-top: 117px;
  width: 350px;
}

.contac-boton {
  margin-top: 100px;
}
