.about{
  margin-top: 150px;
  margin-bottom: 150px;
}


.about-info{
  margin-left: 169px;
  float: left;
}

p{
  font-size: 24px;
  font-weight: 200;
}

h2{
  color:$violet-title;
  text-align: left;
  font-size: 50px;
  margin-bottom: 45px;
}

.about-photo img{
  width: 350px;
  padding-left: 250px;
}

.contac-boton {
  padding-top: 60px;
}
