

.firts-list{
  justify-content: column;
  margin-top: 45px;
}

.firts-list li a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-left: 169px;
}

.people-list{
  display: flex;
  flex-direction: column;

}
