body{
  background-color: $wrapper-background;
}

.menu-bar{
  position: fixed;
  background-color: $menu-background;
  width: 70px;
  height: 100%;
  z-index: 1;
}



.nav-bar-icon li{
  padding-bottom: 80px;
  color: $paragraph;
  font-size: 16px;
  text-align: center;
}


.logo img{
  padding-bottom: 95px;
  padding-left: 15px ;
  padding-top: 10px;
}

.home-text{
  margin-left: 169px;
  padding-top: 60px;
  font-size: 45px;
}
.home-text h1, p{
  color: $paragraph;
}

.glitch{
  color:$violet-title;
	font-size: 100px;
	font-family: $font-family;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	letter-spacing: 5px;
}

.home-gift{
  padding-top: 150px;
}



