body{
  margin: 0;
  background-color: #1D1D1D;
}

ul{
  margin: 0;
  padding: 0;
}


.menu-bar{
  background-color: #181818;
  width: 79px;
  height: 100%;
  display: inline-block;
  float: left;
}


.conteiner{
  display: inline-block;

}

.nav-bar-icon li{
  padding-left: 25px;
  padding-bottom: 78px;
}

.nav-bar-social li{
  padding-left: 25px;
  padding-bottom: 35px;
}

.logo img{
  padding-bottom: 78px;
}

.home-text{
  margin-left: 169px;
  padding-top: 200px;
  float: left;
}
.home-text h1, p{
  color: #fff;
}

.home-text h1 span{
  color: #FA419C;
}

.home-gift{
  float: right;
  padding-top: 150px;
}

.glitch-name{
  padding-top: 560px;
}
