.work{
  margin-bottom: 50px;
  margin-top: 150px;
}

.projects{
  padding-top: 100px;
}


.link-repo{
    color: $paragraph;
    font-size: 20px;

}

.code{
  overflow-y: scroll;
  width: 1180px;
}

::-webkit-scrollbar {
  display: none;
}