
.filtro-list{
  margin-bottom: 90px;
}
.filtro-list li {
  list-style: none;
  float: left;
  font-size: 20px;
  color: $violet-title;
  padding-left: 190px;

}


.title{
  margin-left: 169px;
}

.my-work{
  margin-bottom: 90px;
}


.work{
  padding-bottom: 56px;
}
