.welcome-text{
  font-size: 45px;
  padding-top: 60px;
  //width: 300px;
  

  h1, p{
    color: $paragraph;
    
  }

  p{
    font-size: 26px;
    padding: 0;
  }
}

.glitch{
	color:$violet-title;
	font-size: 100px;
	font-weight: 700;
	text-decoration: none;
	position: absolute;
	letter-spacing: 5px;
}

.about-info-text{
  width: 661px;
  margin-right: 43px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


