// welcome
.welcome__text{
  font-size: $title-principal-size;
  margin-top: 0;
  padding-top: 60px;
  h1, p{
    color: $paragraph-color;
    margin-bottom: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
}
.glitch{
	color:$title-principal-color;
  position: absolute;
	text-decoration: none;
}




