
.glitch{

	&:before, &:after {
		display: block;
		content: attr(data-glitch);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	} &:after {
		color: $glitch-color-1;
		z-index: -2;
	} &:before {
		color:$glitch-color-2;
		z-index: -1;
	}

	&:hover {
		&:before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
		}
		&:after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
		}
	}
}

@media only screen and (max-width: 400px) {
	.glitch {
		font-size: 3em;
	}
}


@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-5px, 5px)
	}
	40% {
		transform: translate(-5px, -5px)
	}
	60% {
		transform: translate(5px, 5px)
	}
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}

.line-link {
    border-bottom: 5px solid fade($paragraph, 85%);
    color: $paragraph;
    font-size: 24px;
    font-weight: lighter;
    padding-bottom: 3px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    
    &:before,
    &:after {
        content: '';
        
        bottom: -1px;
        height: 1px;
        left: 0;
        right: 0;
        position: absolute;
        visibility: hidden;
        
    }
    
    &:before {
        background-color: $glitch-color-1;
        z-index: -1;
    }

    &:after {
        background-color: $glitch-color-2;
        z-index: -2;
    }
    
    &:hover {
        &:before {
            animation: line-glitchy 0.3s ease 0.3s infinite;
            visibility: visible;
            
        }
        
        &:after {
            animation: line-glitchy 0.3s ease infinite reverse;
            visibility: visible;
        }
    }
}

@keyframes glitchy {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}


@keyframes line-glitchy {
    0%   {transform: translate(-1px, 1px);}
    25%  {transform: translate(-1px, -1px);}
    50%  {transform: translate(1px, 1px);}
    75%  {transform: translate(1px, -1px);}
    100%  {transform: translate(-1px, 1px);}
}




.icon-nav:hover,
.icon-nav:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}



.card {
    display: block;
    width: 300px;
    border: 3px solid $button;
    padding: 15px;
    margin: 45px;
    box-shadow: 10px -10px 0 -3px $wrapper-background, 10px -10px $glitch-color-2,
        20px -20px 0 -3px $wrapper-background, 20px -20px $glitch-color-1, 
        30px -30px 0 -3px $wrapper-background, 30px -30px $violet-title, 
        40px -40px 0 -3px $wrapper-background, 40px -40px $paragraph; 
    transition: box-shadow 1s, top 1s, left 1s;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.card:hover {
top: -40px;
left: 40px;
box-shadow: 0 0 0 -3px $wrapper-background, 0 0 0 0 $glitch-color-2,
    0 0 0 -3px $wrapper-background, 0 0 0 0  $glitch-color-1,
    0 0 0 -3px $wrapper-background, 0 0 0 0  $violet-title,
    0 0 0 -3px $wrapper-background, 0 0 0 0  $paragraph;
}



